$text-color: #e8f9f9;

body {
  background: url(../images/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}
.weather-card {
  border-color: #0000003b !important;
  background-color: rgba(0, 0, 0, 0.16);
  max-width: 700px;
  min-height: 280px;
  border-radius: 10px;
  align-self: center;
  h6 {
    color: $text-color;
  }
  .weather-card-content {
    .weather-card-image-tmp {
      h1 {
        font-size: 5rem;
        color: $text-color;
        font-weight: 500;
      }
      h6 {
        font-size: 1.2rem;
        color: rgba(255, 255, 255, 0.623);
      }
    }
    .weather-card-side {
      padding: 0;
      width: 45%;
      color: #ffffffdc;
      font-weight: 600;
      font-size: 16px;
      font-weight: 800;
      border: 2px solid rgba(0, 0, 0, 0.041);
      background-color: rgba(255, 255, 255, 0.185);
      border-radius: 10px;
      span {
        padding: 10px 0;
        border-color: rgba(0, 0, 0, 0.385) !important;
      }
    }
    .location-name {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.4rem;
      font-weight: 600;
      text-align: center;
      span {
        color: rgba(255, 255, 255, 0.747);
        margin: 0 10px;
      }
    }
  }
}
hr {
  margin: 0;
  border-color: white !important;
}
